# Pandas ‚Äì Lekcja¬†2: Operacje na DataFrame

Po przej≈õciu przez ten notatnik bƒôdziesz potrafiƒá:

1. Tworzyƒá `DataFrame` na kilka sposob√≥w‚ÄØ‚Äì‚ÄØz list, s≈Çownik√≥w, macierzy *NumPy*, serii i plik√≥w CSV.
2. Szybko podglƒÖdaƒá dane (`head`, `tail`, `describe`).
3. ZarzƒÖdzaƒá indeksem (ustanawiaƒá, resetowaƒá, modyfikowaƒá).
4. Pobieraƒá dane precyzyjnie za pomocƒÖ `loc`, `iloc`, `at`, `iat`.
5. Selekcjonowaƒá i filtrowaƒá wiersze oraz kolumny, tak≈ºe przy wielu warunkach logicznych.
6. Wycinaƒá, czy≈õciƒá i modyfikowaƒá dane.
7. Przeƒáwiczyƒá wszystko na realistycznym zbiorze cen produkt√≥w.

Na ko≈Ñcu znajdziesz **zadania praktyczne** ‚Äì¬†rozwiƒÖ≈º je, aby utrwaliƒá wiedzƒô.

In [ ]:
import pandas as pd
import numpy as np

## 1¬†<a id='konstruktory'></a>¬†Tworzenie `DataFrame` ‚Äì r√≥≈ºne konstruktory

In [ ]:
df_dict = pd.DataFrame({
    'Imiƒô': ['Adam'],
    'Wiek': [30]
})

In [ ]:
df_dict

In [ ]:
# 1A. Z s≈Çownika list
df_dict = pd.DataFrame({
    'Imiƒô': ['Anna', 'Bartek', 'Celina'],
    'Wiek': [23, 35, 29]
})
df_dict

In [ ]:
# 1B. Z listy s≈Çownik√≥w
df_list_of_dicts = pd.DataFrame([
    {'Miasto': 'Warszawa', 'Populacja': 1793579},
    {'Miasto': 'Krak√≥w',   'Populacja': 779115},
])
df_list_of_dicts

In [ ]:
# 1C. Z listy list + kolumny
df_list = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6]],
    columns=['A', 'B', 'C']
)
df_list

In [ ]:
# 1D. Z macierzy NumPy
arr = np.random.randn(4, 3)

In [ ]:
arr

In [ ]:

df_arr = pd.DataFrame(arr, columns=['X', 'Y', 'Z'])
df_arr

## 2¬†<a id='podglad'></a>¬†`head`, `tail`, `describe`
Funkcje **`head()`** i **`tail()`** pozwalajƒÖ podejrzeƒá poczƒÖtek i koniec danych, a **`describe()`** ‚Äì¬†b≈Çyskawicznie uzyskaƒá statystyki opisowe dla kolumn numerycznych. Przyjrzyjmy siƒô temu na zbiorze `df_arr` z poprzedniego przyk≈Çadu.

In [ ]:
arr = np.random.randn(10, 3)
df_demo = pd.DataFrame(arr, columns=['X', 'Y', 'Z'])

print('Pierwsze 5 wierszy:')
df_demo.head()

In [ ]:
display(df_demo)
df_demo.head()

In [ ]:
print(df_demo.head())

In [ ]:
display(df_demo.head())

In [ ]:
print('\nOstatnie 3 wiersze:')
display(df_demo.tail(3))

In [ ]:

print('\nStatystyki opisowe:')
display(df_demo.describe())

## 3¬†<a id='indeks'></a>¬†Praca z indeksem
Indeks identyfikuje wiersze w `DataFrame`.

In [ ]:
df_idx = pd.DataFrame({
    'Kraj': ['Polska', 'Czechy', 'S≈Çowacja'],
    'PKB_mld_USD': [614, 282, 114]
})
display(df_idx)

In [ ]:
df_idx.index

In [ ]:
# Ustawiamy kolumnƒô 'Kraj' jako indeks
df_country = df_idx.set_index('Kraj')

In [ ]:
print('Po ustawieniu indeksu:')
df_country

In [ ]:
df_country.index

In [ ]:
# Resetujemy indeks
print('\nPo reset_index():')
df_country.reset_index()

In [ ]:
# Wielopoziomowy indeks
df_multi = pd.DataFrame({
    'Region': ['EU', 'EU', 'EU', 'NA', 'NA'],
    'Pa≈Ñstwo': ['Polska', 'Niemcy', 'Francja', 'USA', 'Kanada'],
    'PKB_per_capita': [15900, 46000, 43000, 65000, 52000]
}).set_index(['Region', 'Pa≈Ñstwo'])
print('\nIndeks wielopoziomowy:')
df_multi

In [ ]:
df_multi.index

Tworzenie DataFrame z indeksem:

In [ ]:
df_idx = pd.DataFrame({
    'Kraj': ['Polska', 'Czechy', 'S≈Çowacja'],
    'PKB_mld_USD': [614, 282, 114]
},
index=['PL', 'CZ', 'SL'])
display(df_idx)

Modyfikacja indeksu bezpo≈õrednio:

In [ ]:
df_idx.index = ['POL', 'CZE', 'SLO']

In [ ]:
df_idx

## 4¬†<a id='dostep'></a>¬†Praca z kolumnami

In [ ]:
df_access = pd.DataFrame({
    'Imiƒô': ['Alan', 'Beata', 'Celina', 'Daniel'],
    'Wiek': [34, 28, 25, 42],
    'Miasto': ['Gda≈Ñsk', 'Warszawa', 'Wroc≈Çaw', 'Pozna≈Ñ']
}, index=['a', 'b', 'c', 'd'])
df_access

In [ ]:
df_access.columns

In [ ]:
df_access['Imiƒô']

In [ ]:
type(df_access['Imiƒô'])

In [ ]:
df_access[['Imiƒô']]

In [ ]:
type(df_access[['Imiƒô']])

In [ ]:
df_access[['Imiƒô', 'Wiek']]

## 5¬†<a id='dostep'></a>¬†Dostƒôp do danych: `loc`, `iloc`, `at`, `iat`

Uczymy siƒô czterech metod dostƒôpu: **etykietowy** (`loc`, `at`) oraz **pozycjny** (`iloc`, `iat`).

`loc` - wyb√≥r poprzez nazwƒô w indeksie:

In [ ]:
df_access.loc['a']

In [ ]:
df_access.loc[['a']]

In [ ]:
df_access.loc[['a', 'd']]

In [ ]:
df_access.loc[['a', 'd'], ['Wiek']]

`iloc` - wyb√≥r poprzez numer indeksu:

In [ ]:
df_access.iloc[0]

In [ ]:
df_access.iloc[[0]]

In [ ]:
df_access.iloc[0:2]

In [ ]:
df_access.iloc[0:2, 1]

`at` - wyb√≥r pojedynczej warto≈õci:

In [ ]:
df_access.at['a', 'Miasto']

`iat` - wyb√≥r pojedynczej warto≈õci poprzez jej pozycjƒô

In [ ]:
df_access.iat[0, 2]

## 6¬†<a id='selektory'></a>¬†Wybieranie czƒô≈õci danych

In [ ]:
df_sel = pd.DataFrame({
    'Produkt': ['Kawa', 'Herbata', 'Sok', 'Woda', 'Piwo'],
    'Cena': [19.90, 9.99, 6.50, 2.00, 3.80],
    'Kategoria': ['Napoje', 'Napoje', 'Napoje', 'Napoje', 'Alkohol']
})
df_sel

Sprawdzenie liczby wierszy:

In [ ]:
len(df_sel)

In [ ]:
len(df_sel.columns)

Wymiary tabelki (tak samo jak w NumPy)

In [ ]:
df_sel.shape

In [ ]:
df_sel.values

In [ ]:
df_sel.dtypes

In [ ]:
df_sel['Cena'] > 3

In [ ]:
df_sel[df_sel['Cena'] > 3]

In [ ]:
df_sel[df_sel['Kategoria'] != 'Alkohol']

In [ ]:
df_sel[(df_sel['Cena'] > 3) & (df_sel['Kategoria'] != 'Alkohol')]

In [ ]:
df_sel[(df_sel['Cena'] > 5) | (df_sel['Kategoria'] == 'Alkohol')]

## 7¬†Modyfikacja danych

### Modyfikacja pojedynczych warto≈õci

In [ ]:
df = pd.DataFrame({
    'Produkt': ['Kawa', 'Herbata', 'Sok', 'Woda'],
    'Cena': [19.90, 9.99, 6.50, 2.00],
    'Stan_magazyn': [50, 20, 100, 300]
})
df

In [ ]:
df.at[0, 'Cena'] = 21.50
df

In [ ]:
df.iat[2, 1] = 7.00
df

In [ ]:
df.loc[3, 'Stan_magazyn'] = 280
df

### Modyfikacja kolumn

In [ ]:
df['Cena']

In [ ]:
df['Cena'] = [22, 11, 8, 1.6]
df

In [ ]:
df['Cena'] * 1.10

In [ ]:
# podniesienie wszystkich cen o 10%
df['Cena'] = df['Cena'] * 1.10
df

In [ ]:
df['Stan_magazyn'].dtypes

In [ ]:
df['Stan_magazyn'] = df['Stan_magazyn'].astype(float)

In [ ]:
df

In [ ]:
df['Stan_magazyn'].dtypes

### Dodawanie i usuwanie kolumn

In [ ]:
df['VAT'] = df['Cena'] * 0.23
df

In [ ]:
df.drop(columns='VAT')

In [ ]:
df

In [ ]:
df.drop(columns=['VAT'], inplace=True)
df

In [ ]:
['Premium' if x > 10 else 'Ekonomiczna' for x in df['Cena']]

In [ ]:
df['Klasa'] = ['Premium' if x > 10 else 'Ekonomiczna' for x in df['Cena']]
df

### Modyfikacja i usuwanie wierszy

In [ ]:
# Zmiana wiersza 1 (indeks = 1) ‚Äì podajemy Series z nazwami kolumn
df.loc[1] = pd.Series({'Produkt': 'Nowa Herbata', 'Cena': 12.99, 'Stan_magazyn': 25})

In [ ]:
df

In [ ]:
# Ustaw cena = 0 dla produkt√≥w, kt√≥rych magazyn > 250
df.loc[df['Stan_magazyn'] > 250, 'Cena'] = 0
df

In [ ]:
df.loc[4] = pd.Series({'Produkt': 'Jeszcze nowsza Herbata', 'Cena': 12.99, 'Stan_magazyn': 25})

In [ ]:
df

In [ ]:
# Usuwamy wiersz o indeksie 2
df = df.drop(index=2)
df

## 9 Zadania praktyczne üìù
Spr√≥buj samodzielnie wykonaƒá poni≈ºsze ƒáwiczenia w nowym notatniku lub w osobnych kom√≥rkach.

Poni≈ºej jest kod, kt√≥ry wczytuje plik CSV z danymi sprzeda≈ºy (`sales_records.csv`), pamiƒôtaj ≈ºeby umie≈õciƒá go w katalogu roboczym w Colab lub na komputerze.

Nastƒôpnie wykonaj nastƒôpujƒÖce zadania:

1. **Podejrzyj dane**:
   Wy≈õwietl pierwsze 5 oraz ostatnie 3 wiersze danych.

2. **ZarzƒÖdzanie indeksem**:
   Ustaw kolumnƒô ‚ÄûOrder ID‚Äù jako indeks, a nastƒôpnie zresetuj indeks do domy≈õlnego.

4. **Dostƒôp do danych**:
   Odczytaj warto≈õƒá kolumny ‚ÄûCountry‚Äù z pierwszego wiersza. Nastƒôpnie wy≈õwietl wiersze od 10 do 14 oraz pierwsze trzy kolumny.

5. **Filtrowanie danych**:
   Znajd≈∫ wszystkie zam√≥wienia, w kt√≥rych ‚ÄûTotal Profit‚Äù przekracza 1000000 oraz region to ‚ÄûEurope‚Äù.

6. **Tworzenie nowej kolumny**:
   Oblicz procentowƒÖ mar≈ºƒô zysku (Total Profit / Total Revenue \* 100) i dodaj jƒÖ jako nowƒÖ kolumnƒô.

In [ ]:
df = pd.read_csv('sales_records.csv')

In [ ]:
df